@model IEnumerable<DeAnCNPMNC.Models.Bill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutquanly.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Bill", FormMethod.Post))
{
    <h5>
        Từ ngày: <input type="date" name="date" value="@Session["date"]" /> Đến ngày: <input type="date" name="date1" value="@Session["date1"]" /> <input type="submit" value="Tìm kiếm" />
    </h5>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressCus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalBill)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressCus)
            </td>
            <td>
                @if (item.Status == true)
                {
                    <a>Đã phục vụ</a>
                }
                else
                {
                    <a>Chưa phục vụ</a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalBill)
            </td>
            <td>
                @Html.ActionLink("Chi tiết hóa đơn", "DetailsAD", new { Id = item.IDBill })
            </td>
        </tr>
    }
</table>

<div class="col-12" style="text-align:right">
    <a>Tổng doanh thu: </a>
    <input type="text" name="Total" value="@Model.Sum(s=>s.TotalBill)" disabled />
</div>
@using (Html.BeginForm("Tranfer", "Bill", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="text-align:right; margin-right:200px; padding-top:20px">
        <p>
            <input type="submit" value="Lưu doanh thu" />
        </p>
    </div>

}
