@model DeAnCNPMNC.Models.CategoryCustomer

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layoutquanly.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CategoryCu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCateCus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCateCus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameCateCus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCateCus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDCateCus }) |
    @Html.ActionLink("Back to List", "Index")
</p>
