@model IEnumerable<DeAnCNPMNC.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutquanly.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="font-size:13px;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameCustomer)
        </th>   
        <th>
            @Html.DisplayNameFor(model => model.PhoneCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameCateCustomer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content(item.ImageCustomer)" height="50" width"50" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameCateCustomer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { acccus=item.AccountCustomer }) |
            @Html.ActionLink("Details", "Details", new { acccus=item.AccountCustomer }) |
            @Html.ActionLink("Delete", "Delete", new { acccus=item.AccountCustomer })
        </td>
    </tr>
}

</table>
